= render "gifs/search"

= render @gifs
= paginate @gifs

#tag_cloud
  - tag_cloud Gif.tag_counts, %w[small medium large] do |tag, css_class| 
    = link_to tag.name, tag_path(tag.name), class: css_class