= link_to "https://github.com/3zcurdia/gifmark" do
  = image_tag "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt: "Fork me on GitHub", style: "position: absolute; top: 40px; right: 0; border: 0;"