@font-face {
    font-family: 'ChunkFiveRegular';
    src: url(font_path('Chunkfive-webfont.eot'));
    src: url(font_path('Chunkfive-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('Chunkfive-webfont.woff')) format('woff'),
         url(font_path('Chunkfive-webfont.ttf')) format('truetype'),
         url(font_path('Chunkfive-webfont.svg#ChunkFiveRegular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

